/*-----------------------------------------importaciones-------------------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap%27");

/*----------------------------clases en general------------------------------------------*/
:root {
  background: #ede7de;
  height: 100%;
}
body {
  background: url("/img/fondo.png") no-repeat;
}
a{
  color: #000000;
}
/*----------------------------clases en Navbar------------------------------------------*/
.navbar {
  width: auto;
  height: auto;
  justify-content: center;
  animation: navanimacion 2s linear;
  -webkit-animation: navanimacion 2s linear;
}
.content-navbar {
  border-radius: 60px;
  margin-left: auto;
  margin-right: auto;
  //background-color: rgb(133, 209, 171);
  background: #96ebc0;
  width: 100%;
  height: 50px;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  font-family: "Raleway";
}
.nextui-c-hhqfap-ieQnWyR-css {
  background: transparent;
}
.nextui-c-hhqfap-juUqGF-cv .nextui-c-egxOLa {
  box-shadow: none;
}
.nextui-c-egxOLa {
  width: 100%;
  min-height: auto;
  padding: 0;
  background: transparent !important;
  backdrop-filter: none !important;
  max-width: auto;
}
.items-navbar {
  margin-left: 5px;
  margin-right: 5px;
}
.items-navbar:hover {
  //background: rgb(172, 232, 210);
  background: #9ef7cb;
  border-radius: 60px;
  transition: all 0.5s;
}
/*----------------------------clases en Textos------------------------------------------*/
#TextArea {
  color: #000000 !important;
}
.titulo {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 90px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #025a4e;
  margin: 0 0;
  padding: 0 0;
}
.frase {
  color: #4c6763;
}
.titulo-abajo {
  margin-top: -50px;
}
@media (max-width: 600px) {
  .titulo {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #025a4e;
    margin: 0 0;
    padding: 0 0;
  }
}
@media (max-width: 396px) {
  .titulo {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #025a4e;
    margin: 0 0;
    padding: 0 0;
  }
  .titulo-abajo {
    margin-top: -25px;
  }
}

.cardText {
  color: #4f4f4f;
  font-family: "Raleway";
  font-size: 18px;
}
.textoSkills {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  color: #025a4e;
}

.nextui-c-hzQjrs-eSWKVc-cv {
  color: #17C964;
  top: -72%;
  left: 0px;
  cursor: inherit;
}
.nextui-c-hzQjrs-hyKnjc-asPlaceholder-true {
  color: #17C964;
}
/*----------------------------clases en fondos------------------------------------------*/
.nextui-c-dwnaVv {
  background: rgb(103, 148, 185);
}
.fondo {
  background: url("/img/fondo.png") no-repeat;
}
.nextui-c-eXOOPO {
  background: transparent;
}
#boton-Reviws{
  box-shadow:0 7px 14px 0 #025a4e;
}
.bgviolet{
  background: #e426b1;
}
/*----------------------------clases de Contacto------------------------------------------*/
.card-contacto {
  background-color: #172920;
}
.boton-form {
  background: #c7c2b9;
  color: #000000;
}
::-webkit-scrollbar {
  background: transparent;
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background: #025a4e;
  width: 15px;
  border-radius: 65px;
}

/*----------------------------clases de Modal------------------------------------------*/
.boton-modal {
  position: absolute;
  background: transparent;
  backdrop-filter: none;
  z-index: 1;
  justify-content: center;
  bottom: 63%;
}
@media (max-width: 430px) {
  .boton-modal {
    position: absolute;
    background: transparent;
    backdrop-filter: none;
    z-index: 1;
    justify-content: center;
    bottom: 55%;
  }
}
div.clasificacion {
  position: relative;
  overflow: hidden;
  display: inline-block;
}
div.clasificacion input {
  position: absolute;
  top: -100px;
}
div.clasificacion label {
  float: right;
  fill: #333;
}
div.clasificacion label:hover,
div.clasificacion label:hover ~ label,
div.clasificacion Input:checked ~ label {
  fill: #dd4;
  stroke: #000000;
  stroke-width: 0.3px;
}
.nextui-c-jeuecp {
  color: #ffff;
}
.nextui-c-iwmZdB-jTlWbp-color-primary {
  --nextui--inputHoverBorderColor: #3a3d44;
  --nextui--inputLabelColor: #3a3d44;
}
.nextui-c-dTfjaK-dRBbhr-blur-true {
  backdrop-filter: saturate(180%) blur(5px);
}


/*----------------------------clases de Swiper------------------------------------------*/
.swiper {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nextui-c-gEEnVX-qXFXw-color-default .nextui-avatar-bg {
  background-color: transparent;
}
.swiper-button-next,
.swiper-button-prev {
  color: #000000 !important;
}
.swiper-pagination-bullet-active{
  background: #025a4e !important;
  opacity: 1 ;

}
.swiper-pagination-bullet {
  width: var(--swiper-pagination-bullet-width,var(--swiper-pagination-bullet-size,8px));
  height: var(--swiper-pagination-bullet-height,var(--swiper-pagination-bullet-size,8px));
  display: inline-block;
  border-radius: var(--swiper-pagination-bullet-border-radius,50%);
 background: #025a4e !important;
  opacity: 0.5 
}
/*----------------------------clases de Animaciones------------------------------------------*/
.divgeek {
  animation: animacionTitulo 2s linear;
  -webkit-animation: animacionTitulo 2s linear;
}
@keyframes animacionTitulo {
  0% {
    opacity: 50%;
    filter: blur(5px);
    transform: translateX(-100px);
  }
  100% {
    transform: translateY(0px);
  }
}
html {
  scroll-behavior: smooth;
}

@keyframes navanimacion {
  0% {
    opacity: 50%;
    filter: blur(5px);
    transform: translateY(-100px);
  }
  100% {
    transform: translateX(0px);
  }
}

.nextui-c-dwnaVv {
  transition: width 10s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: width 10s cubic-bezier(0.4, 0, 0.2, 1);
  -moz-transition: width 10s cubic-bezier(0.4, 0, 0.2, 1);
  -ms-transition: width 10s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: width 10s cubic-bezier(0.4, 0, 0.2, 1);
}
/*------------------------------------------------Sweet Alert------------------------------------------------------*/
.swal2-container.swal2-backdrop-show, .swal2-container.swal2-noanimation {
  backdrop-filter: saturate(180%) blur(5px);
}
.swal2-icon.swal2-warning {
  border-color: red !important;
  color: red !important;
}

.swal2-container.swal2-center>.swal2-popup {
  grid-column: 2;
  grid-row: 2;
  align-self: center;
  justify-self: center;
  background: #f7e7ce5a;
  border-radius: 45px;
}

.swal2-title {
  position: relative;
  max-width: 100%;
  margin: 0;
  padding: 0.8em 1em 0;
  color: black !important;
  font-size: 1.875em;
  font-weight: 600;
  text-align: center;
  text-transform: none;
  word-wrap: break-word;
  font-family: "Raleway";
}


#swal2-html-container{
  color: black;
  font-family: "Raleway";
  font-weight: 600;
}

.swal2-styled.swal2-confirm {
  border: 0;
  border-radius: 45px !important;
  background: initial;
  background-color: #F7E7CE !important;
  color: black !important;
  font-size: 1em;
  font-family: "Raleway";
  width: 75px;
}

.swal2-icon.swal2-success [class^=swal2-success-circular-line] {
  position: absolute;
  width: 3.75em;
  height: 7.5em;
  transform: rotate(45deg);
  border-radius: 50%;
  background-color: transparent !important;
}

.swal2-icon.swal2-success .swal2-success-fix {
  position: absolute;
  z-index: 1;
  top: 0.5em;
  left: 1.625em;
  width: 0.4375em;
  height: 5.625em;
  transform: rotate(-45deg);
  background-color: transparent !important;
}
//------------------------------------------------Footer------------------------------------------------------/
.Footer{
  min-height: 300px;
  background: url("/img/fondoFooter.avif") no-repeat ;
  background-size: cover;
}
.GridFooter2{
  background: #2f3c3ae6;
  min-height: 300px;
}
.lineaFooter{
  background: #000000;
  box-shadow:0px 7px 14px 0px rgb(0, 0, 0);
  width: 100%;
}
.columnaContac :hover{
  .lineaFooter{
    background: #029683;
    box-shadow:0px 7px 14px 0px #029683; }
}
.LineatituloContact{
  display: flex;
  flex-wrap: wrap;
}
.textofooter {
  background-image: linear-gradient(
    to right,
    #02caaf,
    #02caaf 50%,
    #000 50%
  );
  background-size: 200% 100%;
  background-position: -101%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}
.textofooter :before{
  content: '';
  background: #54b3d6;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}
.textofooter:hover {
  background-position: 0;
}