/*----------------------------clases en general------------------------------------------*/
:root {
  background: #ede7de;
  height:  100%
}
body {
  background: url("/img/fondo.png") no-repeat;
}
/*----------------------------clases en Navbar------------------------------------------*/
.navbar {
  width: auto;
  height: auto;
  justify-content: center;
  min-height: auto;
}
.content-navbar {
  border-radius: 60px;
  margin-left: auto;
  margin-right: auto;
  //background-color: rgb(133, 209, 171);
  background: #96ebc0;
  width: 100%;
  height: 50px;
}
.nextui-c-hhqfap-ieQnWyR-css {
  background: transparent;
}
.nextui-c-hhqfap-juUqGF-cv .nextui-c-egxOLa {
  box-shadow: none;
}
.nextui-c-egxOLa {
  width: 100%;
  min-height: auto;
  padding: 0;
  background: transparent !important;
  backdrop-filter: none !important;
  max-width: auto;
}
.items-navbar {
  margin-left: 5px;
  margin-right: 5px;
}
.items-navbar:hover {
  //background: rgb(172, 232, 210);
  background: #9ef7cb;
  border-radius: 60px;
}
/*----------------------------clases en Textos------------------------------------------*/
.titulo {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 90px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #025a4e;
  margin: 0 0;
  padding: 0 0;
}
.frase {
  color: #4c6763;
}
.titulo-abajo{
  margin-top:-50px;
}
@media (max-width: 600px) {
  .titulo {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #025a4e;
    margin: 0 0;
    padding: 0 0;
  }
}
@media (max-width: 396px) {
  .titulo {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #025a4e;
    margin: 0 0;
    padding: 0 0;
  }
  .titulo-abajo{
    margin-top: -25px;
  }
}

/*----------------------------clases en fondos------------------------------------------*/
.nextui-c-dwnaVv {
  background: rgb(103, 148, 185);
}
.fondo {
  background: url("/img/fondo.png") no-repeat;
}
/*----------------------------clases de Contacto------------------------------------------*/
.card-contacto{
  background-color: rgb(253, 179, 179);
}
.boton-form{
  background:#ede7de;
  color: #000000;
}